<body></body>

<template name="aboutPage">
  <h1>What's all this then?</h1>
  <hr>

  <article id="explanation">

  	<p>The project blog for annotatAR can be found <a href="http://arebe.github.io/annotatar">here</a>.</p>

    <p>The project is developed on <a href="https://github.com/arebe/annotatar">Github</a>.</p>

    <p>annotatAR was created by RB. You can find them on <a href="https://github.com/arebe">Github</a> and <a href="https://twitter.com/roastbeest">Twitter</a>.</p>

  	<p></p>
  </article>

</template>



